@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Jersey+15&family=Play:wght@400;700&family=Rubik+Vinyl&family=Tektur:wght@400..900&display=swap');
body{
  background-color: #680ce7;
}
*{
  margin: 0;
  padding: 0;
}
.navlink{
  padding: 3px;
  margin-left: 10px;
  transition: all 0.4s ease-in-out;
  &:hover{
    background-color: #680ce7;
    color: whitesmoke;
    border-radius: 15px;
  }
}
.mainNavBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a1029;
  height: 90px;
 box-shadow:  2px 10px 6px 0px #000000d9;
}
